li {
  list-style: none;
}

a,
button {
  font-family: "IBM Plex Sans", sans-serif;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: #0C0B0B;
  font-family: "IBM Plex Sans", sans-serif;
}
@media screen and (max-width: 575px) {
  p {
    text-align: justify;
  }
}

h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: normal;
  color: #fff;
}
@media screen and (max-width: 992px) {
  h1 {
    font-size: 43px;
  }
}
@media screen and (max-width: 575px) {
  h1 {
    font-size: 34px;
  }
}

h2 {
  font-size: 35px;
  line-height: normal;
  font-weight: 700;
  color: #aa8453;
  font-family: "Italiana";
  text-align: center;
}

h3 {
  font-size: 24px;
  line-height: normal;
  font-weight: 700;
  color: #aa8453;
  font-family: "Italiana";
}

h4 {
  font-size: 25px;
  color: #aa8453;
  font-weight: 700;
}

/*media queries start*/
@media screen and (max-width: 1199px) {
  .container {
    padding: 0 20px;
  }
  .site-nav a {
    padding: 8px 8px !important;
    display: inline-block;
  }
  .site-nav li {
    font-size: 16px;
  }
  .hotel-btn a {
    font-size: 16px;
    padding: 13px 20px;
  }
}
@media screen and (max-width: 1024px) {
  .site-nav a {
    display: inline-block;
    padding: 8px 9px;
  }
  .site-nav li {
    font-size: 15px;
  }
}
@media screen and (max-width: 991px) {
  /*header start*/
  .site-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background: #1b212f;
    transition: 0.4s cubic-bezier(0, 0, 0.13, 0.61);
    transform: translateX(-100%);
  }
  .site-nav ul {
    display: block;
    padding: 75px 60px 0;
    display: inline-block !important;
  }
  .menu-toggle {
    display: block !important;
    cursor: pointer;
  }
  .closed-menu {
    font-size: 40px;
    color: #ffffff;
    position: absolute;
    top: -5px;
    right: 15px;
    display: inline-block;
  }
  .closed-menu a:hover {
    color: #ffffff;
  }
  .closed-menu {
    display: block;
  }
  .toggle .site-nav {
    transform: translateX(0);
  }
  .closed-menu {
    display: block;
  }
  .site-header {
    padding: 20px 0;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999999;
    transition: all 0.5s linear;
  }
  .site-header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .site-nav ul {
    display: flex;
    flex-wrap: wrap;
  }
  .site-nav li a {
    font-size: 17px;
    display: inline-block;
    padding: 0.8rem 2rem;
    text-transform: capitalize;
    color: #ffffff;
    position: relative;
    white-space: nowrap;
  }
  .site-nav li a:hover::after {
    width: 100%;
    transition: all 0.3s linear;
  }
  .site-nav .closed-menu a {
    font-size: 45px;
  }
  .menu-toggle .bar-1,
  .bar-2,
  .bar-3 {
    width: 2.5rem;
    height: 2px;
    background-color: #ffffff;
    margin: 0.6rem 0;
    transition: all 0.3s linear;
    display: block;
  }
  ul.dropdown-content {
    position: absolute;
    width: 250px;
    background: transparent;
    top: 100%;
    left: 0;
    background: #ffffff;
    display: none;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .bar-2 {
    width: 30px;
  }
  .bd-header-top__meta span {
    display: block;
    color: #ffffff;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
  }
  .bd-header-top__meta a {
    display: block;
    color: #ffffff;
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
    opacity: 0.7;
  }
  .hotel-btn.casino {
    align-items: start;
  }
  .homemain__part.casino {
    margin-top: 10px;
  }
}
@media screen and (max-width: 768px) {
  .entertainmentcard-picture img {
    height: 450px;
    object-fit: cover;
  }
  .entertainmentcard {
    padding: 20px 0;
  }
}
@media screen and (max-width: 575px) {
  .site-nav {
    width: 100%;
  }
  .mail h3 {
    font-size: 20px;
  }
  .mail h4 {
    font-size: 20px;
  }
  .footer_box h3 {
    font-size: 20px;
  }
}


/*# sourceMappingURL=responsive.css.map */
